/*css全局变量*/
:root {
  --small-shadow: #00000018 0px 2px 8px;
  --big-shadow: #00000018 0px 2px 16px;
  --card-border: #ececec 0px 0px 0px 1.5px;
  --dark-mode-shadow: #00000091 0px 2px 5px;
}

/*选择所有元素*/
* {
  /*为了让手机端点击不出现蓝色高光*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*引入字体*/
@font-face {
  font-family: HarmonyOS_Sans_Regular;
  src: url(../font/HarmonyOS_Sans_Regular.ttf);
}

/*身体*/
body {
  margin: 0;
  display: flex;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: HarmonyOS_Sans_Regular;
  flex-direction: column;
  transition-duration: 1s;
  height: 100vh;
}

/*页面主体*/
main {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  align-items: center;
  background-color: #0000002f;
  transition-duration: 1s;
  height: 100%;
}

/*超链接*/
a {
  text-decoration: none;
  display: flex;
}

/*搜索框上面的标题*/
big_title_container {
  margin-top: 60px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 13px;
}

/*搜索框*/
.search_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  width: 500px;
  border-radius: 5px;
  height: 45px;
  background-color: #f7f7f7d4;
  box-shadow: var(--small-shadow);
  transition-duration: 0.2s;
  padding: 0px 15px;
}

.search_box:focus-within {
  background-color: #ffffff;
  outline: none;
  transition-duration: 0.2s;
}

/*搜索框-form标签*/
#searchEngineForm {
  display: flex;
  flex: 1;
}

/*搜索引擎图标*/
#searchEngineIcon {
  height: 20px;
  width: 20px;
  border-radius: 3px;
}

/*搜索框内的输入框*/
#searchEngineInput {
  display: flex;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  padding: 0px 15px;
  width: 0px;
}

/*搜索框内的按钮*/
.button_in_search_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/*装在搜索按钮里的图片*/
.search_button_img {
  height: 20px;
  width: 20px;
}

/*顶部导航条*/
bar_top {
  display: flex;
  width: 100%;
  background: transparent;
  justify-content: space-between;
  align-items: center;
}

/*顶部导航条的按钮*/
.bar_top_links {
  color: #ffffff;
  display: flex;
  text-decoration: none;
  transition-duration: 0.1s;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  background: transparent;
  margin: 10px;
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
}

.bar_top_links:hover {
  transition-duration: 0.1s;
  background-color: #ffffff37;
}

/*导航分类按钮*/
.nav_select_links {
  color: #ffffff;
  display: flex;
  text-decoration: none;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  align-items: center;
  border-bottom: 3px solid #ffffff00;
  transition-duration: 0.1s;
  user-select: none;
}

/*导航分类区*/
nav_select {
  display: none;
  flex-direction: row;
  height: auto;
  width: 800px;
  flex-wrap: wrap;
  margin-bottom: 8px;
  justify-content: center;
}

/*导航主区*/
nav {
  display: none;
  flex-direction: column;
  width: 800px;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
  box-shadow: var(--big-shadow);
  min-height: 500px;
}

/*导航的链接部分*/
nav_links {
  display: flex;
  flex-direction: column;
}

/*导航的一个类*/
choice {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

/*导航卡片*/
nav_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  margin: 10px;
  padding: 14px;
  transition-duration: 0.1s;
  width: 310px;
  min-height: 50px;
  box-shadow: var(--card-border);
}

/*导航卡片-悬浮变色*/
nav_link:hover {
  background-color: #ffffff50;
  transition-duration: 0.1s;
}

/*导航卡片标题*/
nav_link_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

/*导航卡片下半部分*/
nav_link_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*导航卡片图标*/
.icon {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-right: 14px;
  display: flex;
}

/*导航卡片介绍*/
nav_link_description {
  font-size: 14px;
  color: #9c9c9c;
}

/*设置菜单*/
settings {
  display: flex;
  z-index: 99;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: var(--big-shadow);
  position: absolute;
  top: 57px;
  right: 10px;
  padding: 10px;
  transform: scale(0, 0);
  transition-duration: 0.2s;
  width: 290px;
}

/*设置菜单的一个类别*/
settings_class {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--card-border);
}

/*让设置菜单的每个类别的最后一行底部外边距变为原来的一半*/
settings_class > settings_option:last-child,
form > settings_option:last-child {
  margin-bottom: 5px;
}

/*设置菜单的一个类别的标题*/
settings_title {
  font-weight: bold;
  margin-bottom: 15px;
}

/*设置菜单的一行*/
settings_option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/*设置菜单的表单元素*/
.settings_form {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  position: relative;
  left: -4px;
}

/*背景链接输入框*/
.backgroundUrlInputBox {
  margin-left: 10px;
  width: 100px;
}

/*“应用背景”按钮*/
.applyBackgroundButton {
  margin-left: 2px;
}

/*设置菜单中的按钮*/
.settings_button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  width: auto;
  font-size: 15px;
  transition-duration: 0.2s;
  flex: 1;
  color: #000000;
  background-color: #ffffff;
  box-shadow: var(--card-border);
}

.settings_button:hover {
  background-color: #ffffff00;
  transition-duration: 0.2s;
}

/*移动端适配*/
@media (max-width: 600px) {



  /*宽度适配*/
  .search_box {
    width: 70%;
  }

  nav {
    width: 90%;
  }

  nav_select {
    width: 90%;
  }

  choice {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  a {
    display: block;
  }

  nav_link {
    width: unset;
  }



  /*把以下元素hover的颜色设为原来的，相当于没有*/
  nav_link:hover {
    background-color: #ffffff;
  }

  .bar_top_links:hover {
    background: transparent;
  }

  /*调小导航卡片及导航区域的边距*/
  nav_link {
    margin: 8px;
  }

  nav {
    padding: 8px;
  }



  /*调整导航卡片阴影*/
  nav_link {
    box-shadow: var(--card-border);
  }



}