/*页面主体*/
main {
  background-color: #00000096;
}

/*超链接*/
a {
  text-decoration: none;
}

/*搜索引擎*/
.searchEngine {
  background-color: #1e1e1e;
  box-shadow: #00000000 0px 0px 0px;
  color: white;
}

.searchEngine:focus {
  background-color: #222222;
}

/*导航主区*/
nav {
  background-color: #1e1e1e;
  box-shadow: #00000000 0px 0px 0px;
}

/*导航卡片*/
nav_link {
  background-color: #ffffff12;
  color: #ffffff;
  box-shadow: #00000000 0px 0px 0px;
}

/*导航卡片-悬浮变色*/
nav_link:hover {
  background-color: #ffffff18;
}

/*导航卡片介绍*/
nav_link_description {
  color: #ffffff92;
}

/*设置菜单*/
settings {
  background-color: #1e1e1e;
  box-shadow: #00000091 0px 2px 5px;
}

/*设置菜单的一个类别*/
settings_class {
  background-color: #ffffff12;
  box-shadow: #00000000 0px 0px 0px;
}

/*设置菜单的一个类别的标题*/
settings_title {
  color: #ffffff;
}

/*设置菜单的一项的文字*/
.settings_description {
  color: #ffffff;
}

/*“设置”菜单的按钮*/
.settings_button {
  color: #ffffff;
  background-color: #ffffff12;
  box-shadow: #00000000 0px 0px 0px;
}

.settings_button:hover {
  background-color: #ffffff18;
}

/*移动端适配*/
@media (max-width: 600px) {

  /*把以下元素hover的颜色设为原来的，相当于没有*/
  nav_link:hover {
    background-color: #ffffff12;
  }

}