/*页面主体*/
main {
  background-color: #00000096;
}

/*超链接*/
a {
  text-decoration: none;
}

/*搜索框*/
.search_box {
  background-color: #1e1e1e;
  box-shadow: none;
  color: white;
}

.search_box:focus-within {
  background-color: #222222;
}

/*搜索框内的输入框*/
#searchEngineInput {
  color: white;
}

/*切换搜索引擎下拉菜单*/
.menu {
  background-color: #1e1e1e;
  box-shadow: var(--dark-mode-shadow);
}

/*切换搜索引擎下拉菜单中的一个选项*/
.menu-item {
  color: white;
}

.menu-item:hover {
  background-color: #ffffff12;
}

/*导航主区*/
nav {
  background-color: #1e1e1e;
  box-shadow: none;
}

/*导航卡片*/
nav_link {
  background-color: #ffffff12;
  color: #ffffff;
  box-shadow: none;
}

/*导航卡片-悬浮变色*/
nav_link:hover {
  background-color: #ffffff18;
}

/*导航卡片介绍*/
nav_link_description {
  color: #ffffff92;
}

/*设置菜单*/
settings {
  background-color: #1e1e1e;
  box-shadow: var(--dark-mode-shadow);
}

/*设置菜单的一个类别*/
settings_class {
  background-color: #ffffff12;
  box-shadow: none;
}

/*设置菜单的一个类别的标题*/
settings_title {
  color: #ffffff;
}

/*设置菜单的一行的文字*/
.settings_description {
  color: #ffffff;
}

/*设置菜单中的按钮*/
.settings_button {
  color: #ffffff;
  background-color: #ffffff12;
  box-shadow: none;
}

.settings_button:hover {
  background-color: #ffffff18;
}

/*移动端适配*/
@media (max-width: 600px) {

  /*把以下元素hover的颜色设为原来的，相当于没有*/
  nav_link:hover {
    background-color: #ffffff12;
  }

}